/* Style*/
body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }





h1 {
color: rgb(42, 42, 163);
}

p {
    color: red;
}

body {
    background-color:rgb(16, 58, 7);

}